<launch>
	<arg name="rviz"	default="false"/>
	<arg name="sim"		default="false"/>

	<!-- cameras -->
	<include file="$(find mm_bringup)/launch/mm_realsense_bringup.launch"/>
	
	<!-- arm -->
	<include file="$(find ur_modern_driver)/launch/mm_ur5_bringup.launch">
		<arg name="robot_ip" 		value="192.168.2.2"/>
	</include>

	<include file="$(find mm_moveit_config)/launch/mm_moveit_planning_execution.launch"/>

	<!-- gripper -->
	<include file="$(find mm_bringup)/launch/mm_gripper_bringup.launch"/>

	<!-- gui execution -->
  	<node name="mm_gui_pcl_execution" pkg="mm_gui_run" type="mm_gui_pcl_execution.py" output="screen"/>
	
	<!-- demo 12/13 -->
	<!-- <node name="mm_gui_moveit_approach_execution" pkg="mm_gui_run" type="mm_gui_moveit_approach_execution.py"/> -->
	
	<!-- demo 01/10 -->
  	<!-- <node name="mm_gui_moveit_approach_execution" pkg="mm_gui_run" type="mm_gui_moveit_interpolation_execution.py"/> -->
  	<!-- <node name="waypoint_controls" pkg="mm_gui_run" type="waypoint_controls.py"/> -->
  	
  	<!-- demo 01/24 -->
  	<!-- <node name="mm_gui_moveit_approach_execution" pkg="mm_gui_run" type="mm_gui_moveit_approach_execution.py"/> -->
  	
  	<!-- rviz -->
	<node if="$(arg rviz)" name="demo_rviz" pkg="rviz" type="rviz" respawn="false" 
		args="-d $(find mm_bringup)/rviz/mm_demo.rviz" output="screen">
		<!-- <rosparam command="load" file="$(find mm_moveit_config)/config/kinematics.yaml"/> -->
	</node>

  	
</launch>
