<launch>
	<arg name="rviz"		default="false"/>
	<arg name="map_name"	default="rtabmap.db"/>

	<!-- base -->
	<!-- <include file="$(find mm_bringup)/launch/mm_mobile_bringup.launch"/> -->

	<!-- sensors -->
	<!--include file="$(find mm_bringup)/launch/mm_camera_bringup.launch">
		<arg name="kinect1" value="true"/>
		<arg name="kinect2" value="false"/> 
		<arg name="realsense2" value="true"/>
    <arg name="webcam" value="true"/>
	</include-->
	<!-- <include file="$(find mm_bringup)/launch/mm_imu_bringup.launch"/>	 -->
	<include file="$(find mm_bringup)/launch/mm_laser_bringup.launch"/>

	<!-- arm -->
	<include file="$(find mm_bringup)/launch/mm_ur5_driver.launch">
		<arg name="robot_ip" 		value="192.168.2.2"/>
	</include>

	<!-- gripper -->
	<include file="$(find mm_bringup)/launch/mm_gripper_bringup.launch"/>

	<!-- urdf -->
	<include file="$(find mm_description)/launch/description.launch" />

	<!-- joint state publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<rosparam param="source_list">["/ur5/joint_states", "/robotiq/joint_states"]</rosparam>
	</node>

	<!-- robot state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- slam & navigation -->
	<include file="$(find mm_slam)/launch/mm_rtabmap.launch">
		<arg name="camera" 				  value="kinect1"/>
		<arg name="localization"		value="true"/>
		<arg name="dwa"					    value="false"/>
		<arg name="database_path" 	value="$(arg map_name)"/>
		<arg name="odom_topic"			value="/odom"/>
	</include>

	<!-- move group -->
	<include file="$(find mm_moveit_config)/launch/mm_moveit_planning_execution.launch"/>

	<!-- stitching -->
	<include file="$(find point_cloud_stitching_color)/launch/fuse_points.launch">
		<arg name="fusion_frame"	value="base_footprint"/>
		<arg name="cloud_in" 		value="/realsense2/depth/color/points"/>
	</include>

	<!-- gui execution -->
	<node name="mm_gui_pcl_execution" pkg="mm_gui_run" type="mm_gui_pcl_execution.py" output="screen">
		<param name="captured_cloud_in"	value="/pcl_fusion_node_color/pcl_fusion_node/fused_points"/>
		<!-- <param name="captured_cloud_in"	value="/realsense2/depth/color/points"/> -->
	</node>

	<!-- <node name="waypoint_controls" pkg="mm_gui_run" type="waypoint_controls.py"/> -->
	<!-- <node name="mm_gui_moveit_approach_execution" pkg="mm_gui_run" type="mm_gui_moveit_approach_execution.py"/> -->

 
  	<!-- rviz -->
	<node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find mm_slam)/rviz/mm_demo.rviz"/>

  	
</launch>
