<launch>
	<arg name="rviz"	default="false"/>
	<arg name="sim"		default="false"/>

	<!-- cameras -->
	<include file="$(find mm_bringup)/launch/mm_camera_bringup.launch">
		<!-- <arg name="realsense1"	value="true"/> -->
		<!-- <arg name="realsense2"	value="false"/> -->
	</include>

	<!-- arm -->
	<include file="$(find mm_bringup)/launch/mm_ur5_driver.launch">
		<arg name="robot_ip" 		value="192.168.2.2"/>
	</include>

	<!-- gripper -->
	<include file="$(find mm_bringup)/launch/mm_gripper_bringup.launch"/>

	<!-- urdf -->
	<include file="$(find mm_description)/launch/description.launch" />

	<!-- joint state publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<rosparam param="source_list">["/ur5/joint_states", "/robotiq/joint_states"]</rosparam>
	</node>

	<!-- robot state publisher -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- move group -->
	<include file="$(find mm_moveit_config)/launch/mm_moveit_planning_execution.launch"/>

	<!-- self-filter -->
	<!-- cloud_out : /cloud_out -->
<!-- 	<rosparam file="$(find robot_self_filter)/config/self_see_links.yaml" command="load" ns="robot_self_filter"/>  
	<node name="robot_self_filter" pkg="robot_self_filter" type="self_filter" output="screen">
		<remap from="cloud_in" to="/realsense1/depth/color/points"/>
	</node>
 -->
	<!-- stitching -->
	<!-- cloud_out : /pcl_fusion_node_color/pcl_fusion_node/fused_points -->
	<include file="$(find point_cloud_stitching_color)/launch/fuse_points.launch">
		<arg name="fusion_frame"	value="base_footprint"/>
		<arg name="cloud_in" 		value="/realsense2/depth/color/points"/>
	</include>

	<!-- gui execution -->
	<!-- cloud in : select between self-filter or stitching cloud_out -->
	<node name="mm_gui_pcl_execution" pkg="mm_gui_run" type="mm_gui_pcl_execution.py" output="screen">
		<param name="captured_cloud_in"	value="/pcl_fusion_node_color/pcl_fusion_node/fused_points"/>
		<!-- <param name="captured_cloud_in"	value="/cloud_out"/> -->
	</node>

	<!-- <node name="waypoint_controls" pkg="mm_gui_run" type="waypoint_controls.py"/> -->
	<!-- <node name="mm_gui_moveit_approach_execution" pkg="mm_gui_run" type="mm_gui_moveit_approach_execution.py"/> -->

 
  <!-- rviz -->
	<node if="$(arg rviz)" name="demo_rviz" pkg="rviz" type="rviz" respawn="false" 
		args="-d $(find mm_bringup)/rviz/mm_demo.rviz" output="screen">
	</node>

  	
</launch>
