<launch>
	<arg name="device" 	default="/dev/ttyACM1"/>

  	<!-- <node name="mm_odom_publisher" pkg="mm_bringup" type="base_odom_publisher.py" args="$(arg device)" output="screen" respawn="true"/> -->
  	<node name="mm_odom_publisher" pkg="mm_bringup" type="base_odom_publisher.py" args="$(arg device)" respawn="true"/>
</launch>
