<launch>
	<arg name="rviz"	default="false"/>
	<arg name="sim"		default="false"/>

	<!-- cameras -->
	<include file="$(find mm_bringup)/launch/mm_realsense_bringup.launch"/>
	
	<!-- arm -->
	<include file="$(find ur_modern_driver)/launch/mm_ur5_bringup.launch">
		<arg name="robot_ip" 		value="192.168.2.2"/>
	</include>

	<include file="$(find mm_moveit_config)/launch/mm_moveit_planning_execution.launch"/>
	
</launch>
