<launch>
	<arg name="device1"		default="/dev/video3"/>
	<arg name="device2"		default="/dev/video4"/>
	<arg name="device3"		default="/dev/video5"/>

	<include file="$(find usb_cam)/launch/usb_cam.launch">
		<arg name="camera"	value="cam1"/>
		<arg name="device"	value="$(arg device1)"/>
	</include>

 	<include file="$(find usb_cam)/launch/usb_cam.launch">
		<arg name="camera"	value="cam2"/>
		<arg name="device"	value="$(arg device2)"/>
	</include> 

 	<include file="$(find usb_cam)/launch/usb_cam.launch">
		<arg name="camera"	value="cam3"/>
		<arg name="device"	value="$(arg device3)"/>
	</include>

</launch>
