<launch>
	<arg name="rgbd1" default="false"/>
	<arg name="rgbd2" default="false"/>

	<include if="$(arg rgbd1)" file="$(find mm_slam)/launch/rgbd_remote_viz.launch">
		<arg name="camera" 		value="kinect1"/>
	</include>

	<include if="$(arg rgbd2)" file="$(find mm_slam)/launch/rgbd_remote_viz.launch">
		<arg name="camera" 		value="kinect2"/>
		<arg name="max_depth" 	value="2.0"/>
	</include>
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find mm_slam)/rviz/base_rtabmap.rviz"/>

</launch>
